<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>
<body>
  {{>navbar}}

    <!-- main header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div  -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/img.jpg" alt="riya" class="img-fluid" title="RiyaWeather">
                        </figure>
                          </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1><span class ="text_clr">Welcome</span> to my website. I am Riya, an aspiring web developer!</h1>
                        
                        
                    </div>
                    <!-- right side div  -->
                   
                        

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->
{{>footer}}

    
</body>
</html>